.restaurant{
    font-size: 23px;
    font-weight: 600;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.OrdersContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.itemsUnorderedList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 13px;
}

.menuUnorderedList{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}